/* 初始化CSS */

html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img {
    margin: 0;
    padding: 0;
}

fieldset,
img {
    border: none;
}

img {
    display: block;
}

i,
em {
    font-style: normal;
}

address,
caption,
cite,
code,
dfn,
th,
var {
    font-style: normal;
    font-weight: normal;
}

ul,
ol {
    list-style: none;
}

input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "SimSun", "宋体";
}

input::-moz-focus-inner {
    border: none;
    padding: 0;
}

select,
input {
    vertical-align: middle;
}

select,
input,
textarea {
    font-size: 12px;
    margin: 0;
}

input[type="text"],
input[type="password"],
textarea {
    outline-style: none;
    -webkit-appearance: none;
}

textarea {
    resize: none;
}

table {
    border-collapse: collapse;
}

body {
    color: #333;
    font: 18px "Microsoft Yahei";
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

.clearfix {
    zoom: 1;
}

.clearit {
    clear: both;
    height: 0;
    font-size: 0;
    overflow: hidden;
}

a {
    color: #333;
    text-decoration: none;
}


/*公共类名*/

.fl {
    float: left;
}

.fr {
    float: right;
}

.w100 {
    width: 100%;
}

.w99 {
    width: 990px;
}

.text-center {
    text-align: center;
}

.dis-inb {
    display: inline-block;
}

.white {
    color: #fff;
}

.theme-blue {
    color: #0db4e0;
}

.m-auto {
    margin: 0 auto;
}

.bg-base {
    background-repeat: no-repeat;
    background-position: center;
}


/*头部开始*/

.xk-header {
    height: 500px;
    background-image: url(../img/bg_01.jpg);
}


/*头部结束*/


/*导航开始*/

.xk-nav {
    background-image: url(../img/bg_02.jpg);
    height: 557px;
}

.nav-content {
    position: relative;
}

.nav-content .left_bar {
    width: 171px;
    position: absolute;
    top: 50px;
    left: 56px;
    z-index: 2;
}

.xk-title-box {
    padding-top: 60px;
}

.xk-title-box .h-wrapper {
    font-size: 32px;
}

.xk-title-box .h-wrapper .line {
    width: 236px;
}

.nav-content .xk-title-box .xk-tit {
    width: 214px;
}

.xk-title-box .xk-tit {
    line-height: 46px;
    border-radius: 21px;
    position: relative;
    top: 4px;
}

.xk-title-box .xk-tit .circle_white_left,
.xk-title-box .xk-tit .circle_white_right {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.xk-title-box .xk-tit .circle_white_left {
    left: 10px;
}

.xk-title-box .xk-tit .circle_white_right {
    right: 10px;
}

.line-left-box {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
}

.line-right-box {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
}

.circle {
    width: 7px;
    height: 7px;
    border-radius: 100%;
    vertical-align: middle;
}

.line {
    height: 0;
    vertical-align: middle;
}

.line_left {
    margin-left: -10px;
}

.line_right {
    margin-right: -10px;
}

.bg_blue {
    background-color: #1fb8e1;
}

.bg_light_blue {
    background-color: #f1fcff;
}

.bg_red {
    background-color: #fc6451;
}

.bg_white {
    background-color: #fff;
}

.border_blue {
    border: 1px solid #1fb8e1;
}

.border_light_blue {
    border: 1px solid #f1fcff;
}

.border_red {
    border: 1px solid #fc6451;
}

.xk-cont-box {
    width: 810px;
    padding: 44px 44px 44px 112px;
    margin-top: 28px;
    margin-left: 118px;
    background: url(../img/bg_blue.png) no-repeat;
}

.xk-cont-box p {
    color: #0db4e0;
    font-size: 16px;
    line-height: 28px;
}

.xk-cont-box p b {
    font-weight: normal;
    font-size: 18px;
}

.nav_list {
    position: fixed;
    right: 14%;
    top: 54%;
    z-index: 100;
}

.nav_list li {
    width: 100px;
    margin-bottom: 1px;
}

.nav_list li:first-child,
.nav_list li:last-child {
    margin-bottom: 0;
}

.nav_list li a,
.nav_list li .back_top {
    width: 100%;
    height: 35px;
    line-height: 35px;
    border-radius: 20px;
}

.nav_list li a {
    background-color: #0db4e0;
    color: #fff;
}

.nav_list li .active,
.nav_list li a:hover {
    background-color: #fc6451;
}


/*导航结束*/


/*主题分栏1开始*/

.tip_theme_1 {
    background-image: url(../img/bg_03.jpg);
    height: 1288px;
}

.tip_theme_1 .xk-title-box .xk-tit {
    width: 350px;
    position: relative;
}

.tip_theme_1 .details_list {
    margin-top: 128px;
    padding-bottom: 107px;
}

.tip_theme_1 .details_list li:hover .show_explan {
    display: block;
}

.tip_theme_1 .details_list li {
    position: relative;
}

.show_explan {
    padding-top: 27px;
    padding-bottom: 27px;
}

.show_explan,
.explan_details {
    position: absolute;
    left: 0;
    top: 0;
    height: 314px;
    z-index: 6;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: #fc6451;
    display: none;
}

.explan_content,
.exp_det_content {
    margin-top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.explan_content p,
.explan_details p {
    line-height: 28px;
    font-size: 16px;
    text-align: left;
}

.explan_content p {
    color: #eafffc;
}

.show_explan .open_case_btn {
    display: inline-block;
    width: 166px;
    height: 37px;
    outline: none;
    border: none;
    line-height: 33px;
    margin-top: 27px;
    cursor: pointer;
    color: #333;
    background-color: #ffe200;
    border-radius: 20px;
    font-size: 18px;
}

.explan_details {
    background-color: #0db4e0;
    color: white;
}

.exp_det_content em {
    color: #fff37b;
}

.tip_theme_1 .xk-list-number {
    position: absolute;
    width: 100px;
    height: 100px;
    text-align: left;
    left: 0;
    top: 0;
    font-weight: 600;
    color: white;
    font-size: 36px;
    padding-left: 20px;
    background: url(../img/icons_sprit.png) no-repeat 0 -230px;
}

.tip_theme_1 .xk-list-icons {
    width: 152px;
    height: 152px;
    margin-top: 45px;
    background-image: url(../img/icons_sprit.png);
    background-repeat: no-repeat;
}

.tip_theme_1 .xk-list-icons_4 {
    background-position: -146px 0;
}

.tip_theme_1 .xk-list-icons_2 {
    background-position: -340px 0;
}

.tip_theme_1 .xk-list-icons_1 {
    background-position: -534px -162px;
}

.tip_theme_1 .xk-list-icons_3 {
    background-position: -340px -324px;
}

.tip_theme_1 .xk-list-icons_5 {
    background-position: -534px -324px;
}

.tip_theme_1 .xk-list-icons_6 {
    background-position: -146px -324px;
}

.tip_theme_1 .xk-list-icons_7 {
    background-position: -340px -162px;
}

.tip_theme_1 .xk-list-icons_8 {
    background-position: -146px -162px;
}

.tip_theme_1 .xk-list-icons_9 {
    background-position: -534px 0;
}

.tip_theme_1 .details_list li:nth-child(3),
.tip_theme_1 .details_list li:nth-child(6),
.tip_theme_1 .details_list li:nth-child(9) {
    margin-right: 0;
}

.tip_theme_1 .details_list li:nth-child(3) {
    vertical-align: bottom;
}

.tip_theme_1 .details_list li:nth-child(5),
.tip_theme_1 .details_list li:nth-child(6),
.tip_theme_1 .details_list li:nth-child(8),
.tip_theme_1 .details_list li:last-child {
    vertical-align: top;
}

.tip_theme_1 .details_list li {
    width: 314px;
    height: 314px;
    display: inline-block;
    margin-right: 18px;
    margin-bottom: 17px;
    background-color: #fff;
}

.tip_theme_1 .tit_box {
    width: 260px;
    height: 120px;
    display: table;
    margin: 0 auto;
}

.tip_theme_1 .xk-list-title {
    color: #fc6451;
    font-size: 26px;
    display: table-cell;
    vertical-align: middle;
}


/*主题分栏1结束*/


/*主题分栏2开始*/

.tip_theme_2 {
    background-image: url(../img/bg_04.jpg);
    height: 1417px;
}

.tip_theme_2 .xk-title-box .xk-tit {
    width: 326px;
}

.xk-tenet-list {
    -webkit-transform: translateY(60px);
    transform: translateY(60px);
}

.bt_line {
    width: 100%;
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 20px;
}

.xk-tenet-list .bt_line:last-child {
    margin-bottom: 0;
}

.att_list .xk-att-tit,
.xk-tenet-list .xk-tenet-tit {
    font-size: 20px;
    font-weight: 600;
}

.xk-tenet-list .xk-tenet-tit {
    color: #0db4e0;
    padding-bottom: 10px;
    float: left;
}

.xk-tenet-list li {
    width: 46%;
    margin-right: 55px;
    margin-bottom: 30px;
    position: relative;
}

.xk-tenet-list li:nth-child(even) {
    margin-right: 0;
}

.xk-tenet-list li a {
    width: 76px;
    height: 37px;
    line-height: 37px;
    background-color: white;
}

.att_list li a {
    width: 130px;
    height: 46px;
    line-height: 46px;
    background-color: #fff;
}

.xk-tenet-list li a,
.att_list li a {
    text-align: center;
    color: #ff4a33;
    font-size: 16px;
}

.xk-tenet-list li .show {
    background-color: #f1fcff;
}

.xk-tenet-list .tenet_det {
    width: 446px;
    padding: 8px 5px;
    clear: left;
    margin-top: 35px;
    background-color: #f1fcff;
}

.xk-tenet-list li .def_program_link {
    color: #0db4e0;
    text-decoration: underline;
    background-color: #f1fcff;
}

.att_list .att_det {
    padding: 17px 10px;
    background-color: white;
}

.att_list .att_det p {
    color: #9f9f9f;
}

.xk-tenet-list .tenet_det p,
.att_list .att_det p {
    font-size: 16px;
    line-height: 24px;
}

.xk-tenet-list .tenet_det p {
    width: 427px;
    color: #9f9f9f;
    font-size: 16px;
    margin: 0 auto;
}


/*主题分栏2结束*/


/*主题分栏3开始*/

.tip_theme_3 {
    background-image: url(../img/bg_05.jpg);
    height: 1606px;
}

.tip_theme_3 .xk-title-box .xk-tit {
    width: 266px;
}

.att_list {
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
}

.att_list .xk-att-tit {
    color: #727272;
}

.att_list ol li {
    width: 912px;
    margin: 0 auto 25px;
}

.att_list ol .line-wrapper {
    margin-bottom: 24px;
    border-bottom: 1px solid #16b8e2;
}

.xk-warm {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
}

.att_big_title {
    font-size: 22px;
    color: #fc6451;
}

.xk-warm ol {
    margin-top: 24px;
}

.xk-warm ol li {
    font-size: 20px;
    line-height: 38px;
    color: #727272;
}

.xk-sir-pic-box {
    margin-left: 70px;
}

.xk-sir-pic-box img {
    width: 168px;
}


/*主题分栏3结束*/


/*主题分栏4开始*/

.question_answer {
    background-image: url(../img/bg_06.jpg);
    height: 1127px;
}

.question_answer .xk-title-box .xk-tit {
    width: 334px;
}

.xk-qa-content {
    margin-top: 28px;
}

.xk-qa-content .xk-qst {
    color: #0db4e0;
    font-size: 20px;
}

.xk-qa-content .xk-answer {
    margin-top: 20px;
    margin-bottom: 30px;
}

.xk-answer p {
    line-height: 21px;
    color: #9f9f9f;
    font-size: 16px;
    padding-left: 18px;
    padding-right: 27px;
    text-align: justify;
}

.xk-qa-content ul li img {
    margin-bottom: 6px;
    margin-left: 18px;
}

.xk-qa-content .xk-sys-link {
    color: #0db4e0;
    text-decoration: underline;
}


/*主题分栏4结束*/


/*主题分栏5开始*/

.resource_link {
    height: 483px;
    min-height: 128px;
    background-image: url(../img/bg_07.jpg);
}

.resource_link .xk-title-box .xk-tit {
    width: 238px;
}

.resource_list {
    margin-top: 35px;
    background-image: url(../img/guide_line.png);
    background-repeat: no-repeat;
    background-position: 0 100px;
}

.resource_list ul {
    position: relative;
}

.resource_list .tit_wrapper_1 {
    top: 130px;
    left: 20px;
    background-position: 0 0;
}

.resource_list .tit_wrapper_1 a {
    margin-top: 14px;
    margin-left: 18px;
}

.resource_list .tit_wrapper_2 {
    top: 56px;
    left: 188px;
}

.resource_list .tit_wrapper_2 a {
    margin-top: 30px;
    margin-left: 17px;
}

.resource_list .tit_wrapper_3 {
    top: 110px;
    left: 360px;
}

.resource_list .tit_wrapper_3 a {
    margin-top: 21px;
    margin-left: 20px;
}

.resource_list .tit_wrapper_4 {
    top: 34px;
    right: 360px;
}

.resource_list .tit_wrapper_4 a {
    margin-top: 28px;
    margin-left: 21px;
    line-height: 16px;
}

.resource_list .tit_wrapper_5 {
    top: 110px;
    right: 200px;
}

.resource_list .tit_wrapper_5 a,
.resource_list .tit_wrapper_6 a {
    margin-top: 33px;
    margin-left: 17px;
}

.resource_list .tit_wrapper_6 {
    top: 54px;
    right: 28px;
}

.res_tit_wrapper {
    width: 93px;
    min-height: 107px;
    position: absolute;
    background-image: url(../img/half_circle_sprit.png);
    background-repeat: no-repeat;
}

.res_tit_wrapper:hover,
.resource_list .active {
    background-position: -149px 0;
}

.res_tit_wrapper:hover a,
.res_tit_wrapper .on {
    color: #fff;
}

.res_tit_wrapper a {
    color: #727272;
}

.res_tit_wrapper a {
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    text-align: center;
}

.res_tit_wrapper .xk-sup-tit,
.res_tit_wrapper .xk_small_font {
    font-size: 12px;
}

.res_tit_wrapper,
.xk_small_font {
    font-weight: normal;
}


/*主题分栏5结束*/


/*主题分栏6开始*/

.exam_online {
    background-image: url(../img/bg_08.jpg);
}

.exam_online .xk-title-box .xk-tit {
    width: 232px;
}

.xk-exam-link-wrapper {
    height: 274px;
    display: table;
    text-align: center;
}

.xk-exam-link-wrapper .a_box {
    display: table-cell;
    vertical-align: middle;
}

.xk-exam-link-wrapper a {
    width: 397px;
    height: 93px;
    line-height: 88px;
    border-radius: 28px;
    font-size: 42px;
    color: white;
    font-weight: 600;
    background: url(../img/exam_btn_bg.png) no-repeat center;
}

.xk-exam-link-wrapper a i {
    width: 45px;
    height: 45px;
    background-image: url(../img/exam_icons.png);
    background-repeat: no-repeat;
    background-size: 90px;
    vertical-align: -8%;
}

.xk-exam-link-wrapper a:hover {
    color: #fc6451;
    background-image: url(../img/exam_btn_bg_act.png);
}

.xk-exam-link-wrapper a:hover i {
    background-position: -45px 0;
}


/*主题分栏6结束*/


/*底部开始*/

.xk-footer {
    padding-bottom: 28px;
    background-color: #0db4e0;
}

.xk-pqjj {
    color: #fff600;
    text-decoration: underline;
}

.xk-footer .xk-footer-top {
    padding-top: 70px;
}

.xk-footer .xk-footer-top,
.xk-footer .xk-footer-bot {
    text-align: center;
    font-size: 20px;
    color: white;
}

.xk-footer .xk-footer-bot {
    width: 298px;
    margin: 40px auto;
    border-top: 1px solid #28d2ff;
    padding: 18px 0;
}


/*底部结束*/